.footer {
  position: relative;
  bottom: 0;
  width: 95%;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  font-size: 11px;

  p {
    line-height: 1rem;
    text-align: end;
    margin: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}
