$base-color: #7d132d;

.header {
  background: rgb(125, 19, 45);
  background: linear-gradient(170deg, #7d132d 50%, #790947 100%);
}

.nav {
  margin: 0 auto;

  a {
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
  }
}
