<div fxLayout="row" fxFill *ngIf="sidePosts" class="sidebar" fxShow.gt-xs="!false">
  <div class="side-posts">
    <ul>
      <li *ngFor="let post of sidePosts" class="side-bar-links">
        <span >
          <a routerLink='details/{{post.id}}'>{{post.title | lowercase}}</a>
        </span>
        <mat-card-subtitle>
          posted on 26-Feb-2021 15:43 GMT +3
        </mat-card-subtitle>
      </li>
    </ul>
  </div>
</div>

  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="main-content">
    <mat-card *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }">
      
      <div>
        <mat-card-title>
          {{post.title | uppercase}}
        </mat-card-title>

        <mat-card-subtitle>
          posted on 26-Feb-2021 15:43 GMT +3
        </mat-card-subtitle>
    
        <mat-card-content>
          <img src="http://dummyimage.com/350x150/c0c0c0" />
          {{post.body}}
        </mat-card-content>
    
        <div class="card-footer">
          <div class="card-actions" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="cw" matTooltip="What do you think about it?" matTooltipPosition="above">
              <span class="material-icons c"><i class="c"></i></span>
            </div>
            <div class="lw" matTooltip="Do you like this article?" matTooltipPosition="above">
              <span class="material-icons l"><i class="l"></i></span>
            </div>
            <div class="ww" matTooltip="3516 people aredy read this article" matTooltipPosition="above">
              <span class="material-icons w"><i class="w"></i></span> 
            </div>
            <div class="btn-wrapper" id="details"> 
              <a routerLink='details/{{post.id}}'>read more</a>
            </div>
          </div>
        </div>
    
      </div>
      </mat-card>

      <div class="paginator-wrapper" fxLayout="row " fxLayoutAlign="space-around center">
        <div class="paginator">
          <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
        </div>
      </div>
  </div>
